<footer class="page-footer">
  <div class="social-links">
    <a href="https://github.com/Jome0169" target="_blank" rel="noopener noreferrer">GitHub</a> |
    <a href="https://www.linkedin.com/in/john-mendieta/" target="_blank" rel="noopener noreferrer">LinkedIn</a> |
    <a href="https://scholar.google.com/citations?hl=en&user=KbCxlTIAAAAJ" target="_blank" rel="noopener noreferrer">Google Scholar</a>
  </div>
  <div class="credits faded">
    <span>&copy; {{ site.time | date: '%Y' }}
      {% if site.email == "" or site.email == nil %}
        {{ site.author }}
      {% else %}
        <a href="mailto:{{ site.email }}">{{site.author}}</a>
      {% endif %}
    </span>
  </div>
</footer>
